@model Tunic_Wiki.Models.Post

@{
    ViewBag.Title = "Guardar";
}

<h2>Guardar</h2>

@using (Html.BeginForm("Guardar", "Forum", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Post</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.titulo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contenido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.contenido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contenido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

    @using (Html.BeginForm("Guardar", "Forum", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div>
            <label id="post-title-label" for="title-input">Post Title</label>
            @Html.TextBoxFor(x => x.titulo)
            <input type="text" id="title-input" name="titulo">
            <label for="content-input">Post Content</label>
            <input type="text" id="content-input" cols="30" rows="3" name="contenido">
            <button id="create-post-btn" type="submit">Create Post</button>
        </div>
    }

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
